.genre-filter {
  padding: 0 0 16px;
}

.genre-filter__heading {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 0 0 4px 4px;
}
